.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  &__item {
    max-width: 450px;
    width: 100%;
  }

  &__icon-container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: $bg-buttons-color;
    border-radius: 4px;
  }

  &__icon {
    min-width: 70px;
    min-height: 70px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 480px) {
  .features {
    &__item {
      min-width: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    &__item {
      min-width: 354px;
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    &__item {
      min-width: 270px;
    }
  }
}
