%header-links {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-duration $timing-function;
}

%flex-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
